/* Fonts */

@import 'fonts.css';


/* General Styles */
body: {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
    color: #fff;
    font-size: 70px;
    font-weight: lighter;
}

h3 {
    width: 100%;
    margin-top: 0;
    font-size: 40px;
    text-align: center;
}

h3:first-letter {
    color: #dca453;
}

.aw-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.aw-align-center {
    align-items: center;
}



        /* HEADER */
header {
    position: relative;    
}

header nav {
    position: fixed;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    z-index: 999;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}



